/* General Styles */
body {
  position: inherit;
  font-family: 'SolaimanLipi', 'sans-serif';
  margin: 0;
  padding: 0;
  background-image: url("bg2.png");
  background-size: cover;
  background-position: center;
}

.wrapper {
  position: relative;
  min-height: 83vh;
  text-align: justify;
  text-justify: inter-word;
}

.question {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  height: auto;
  overflow: hidden;
  color: #081e70;
}

@media (max-width: 1200px) {
  .question {
    font-size: 26px;
  }
}

@media (max-width: 992px) {
  .question {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .question {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .question {
    font-size: 20px;
  }
}

.dbtn {
  margin: 5% auto; /* Center the button horizontally and add top margin */
  font-size: 1.25rem;
  padding: 0.75rem 1.5rem;
  background-color: #ffffff;
  color: #081e70;
  border: none;
  border-radius: 110px;
  cursor: pointer;
  display: block; /* Ensure the button is a block element */
  width: 30%; /* Set initial width */
  max-width: 300px; /* Set a max width to prevent it from becoming too large */
  transition: all 0.3s ease; /* For smooth transitions */
}

.dbtn:hover {
  background-color: #516eda; /* Change background color on hover */
  color: #ffffff; /* Change text color on hover */
  transform: scale(1.05); /* Slightly enlarge the button on hover */
}




/* Media query for large screens (desktops and laptops) */
@media (min-width: 1200px) {
  .dbtn {
    font-size: 1.5rem; /* Larger font size for larger screens */
    padding: 1rem 2rem; /* More padding for larger screens */
  }
}

/* Media query for tablets (portrait and landscape) */
@media (min-width: 768px) and (max-width: 1199px) {
  .dbtn {
    font-size: 1.25rem; /* Default font size */
    padding: 0.75rem 1.5rem; /* Default padding */
    width: 40%; /* Adjust width for tablets */
  }
}

/* Media query for large smartphones */
@media (min-width: 481px) and (max-width: 767px) {
  .dbtn {
    font-size: 1.125rem; /* Slightly smaller font size */
    padding: 0.75rem 1.25rem; /* Adjust padding */
    width: 50%; /* Adjust width for large smartphones */
  }
}

/* Media query for small smartphones */
@media (max-width: 480px) {
  .dbtn {
    font-size: 1rem; /* Smaller font size */
    padding: 0.5rem 1rem; /* Adjust padding */
    width: 70%; /* Adjust width for small smartphones */
  }
}

/* Header */
header {
  background-color: #ffffff;
  color: #081e70;
  padding: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 5vh;
  width: 100%;
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  margin: 0;
  flex: 1;
  text-align: center;
}

.logo {
  max-width: 10rem;
  height: auto;
  margin: 0 auto;
}

@media (max-width: 768px) {
  h1 {
      font-size: 1.5rem;
  }

  .logo {
      max-width: 7.5rem;
  }
}

@media (max-width: 480px) {
  h1 {
      font-size: 1.25rem;
  }
  .logo {
      max-width: 5rem;
  }
}

/* Container */
.container {
  padding: 1rem;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  box-sizing: border-box;
}
@media (max-width: 1200px) {
  .container {
    padding: 0.9rem;
    width: 85%;
    max-width: 750px;
  }
}

@media (max-width: 992px) {
  .container {
    padding: 0.8rem;
    width: 80%;
    max-width: 700px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0.7rem;
    width: 95%;
    max-width: 600px;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0.5rem;
    width: 100%;
    max-width: 500px;
  }
}
#quiz {
  font-size: .9rem;
  margin-bottom: 90px;

}
@media (max-width: 1200px) {
  #quiz {
    font-size: .85rem;
    margin-bottom: 80px;
  }
}

@media (max-width: 992px) {
  #quiz {
    font-size: .8rem;
    margin-bottom: 80px;
  }
}

@media (max-width: 768px) {
  #quiz {
    font-size: .75rem;
    margin-bottom: 80px;
  }
}

@media (max-width: 576px) {
  #quiz {
    font-size: .7rem;
    margin-bottom: 80px;
  }
}

#quiz, #break {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem;
}

/* Footer */
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

#timer, #question-number {
  font-weight: bold;
  color: #081e70;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  #timer, #question-number {
      font-size: 1.25rem;
  }
}

@media (max-width: 480px) {
  #timer, #question-number {
      font-size: 1rem;
  }
}

/* Options */
.option {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #000000;
  font-size: 1.25rem;
}

.option:hover {
  background-color: #5cd3ff;
  transition: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}


@media (max-width: 1200px) {
  .option {
    font-size: 26px;
  }
}

@media (max-width: 992px) {
  .option {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .option {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .option {
    font-size: 20px;
  }
}

/* Landing Page */
.landing-page {
  background-size: cover;
  background-position: center;
  min-height: 79vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding: 1rem;
  box-sizing: border-box;
}

.landing-content {
  font-size: large;
  text-align: left;
  text-align: justify;
  max-width: 100%;
  margin-bottom: 1rem;
}

@media (max-width: 1200px) {
  .landing-content {
    max-width: 90%;
    margin-bottom: 1.2rem;
  }
}

@media (max-width: 992px) {
  .landing-content {
    max-width: 85%;
    margin-bottom: 1.4rem;
  }
}

@media (max-width: 768px) {
  .landing-content {
    text-align: left;
    max-width: 100%;
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 576px) {
  .landing-content {
    max-width: 100%;
    margin-bottom: 2rem;
  }
}

.landing-content h2 {
  font-size: 2rem;
}

.landing-content p {
  font-size: 1rem;
  margin-bottom: 0.75rem;
}

.btn {
  font-size: 1.25rem;
  padding: 0.75rem 1.5rem;
  background-color: #ffffff;
  color: #081e70;
  border: none;
  border-radius: 110px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #dcdcf3;
}

.intro-section button {
  background-color: #081e70;
  color: #ffffff;
  padding: 1rem;
  border: none;
  border-radius: 110px;
  cursor: pointer;
  font-size: 1.25rem;
  transition: background-color 0.3s ease;
  width: 100%;
  box-sizing: border-box;
}

.intro-section button:hover {
  background-color: #516eda;
}


@media (min-width: 768px) {
  .landing-content {
      max-width: 70%;
  }
}

/* Intro Section */
.is-header {
  background-size: cover;
  background-position: center;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding: 1rem;
  text-align: center;
  box-sizing: border-box;
}
.intro-section {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #081e70;
  padding: 1rem;
  text-align: left;
  font-size: 1rem;
  font-weight: bolder;
  box-sizing: border-box;
}

.intro-section form {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  border-radius: 10px;
  width: 100%;
  max-width: 500px; /* Limit the form width */
  box-sizing: border-box;
}

.intro-section label {
  font-weight: bold;
  color: #081e70;
  margin-bottom: 0.5rem;
  display: block;
}

.intro-section input[type="text"],
.intro-section input[type="tel"],
.intro-section input[type="email"] {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1.5rem; /* Add more space between inputs */
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #c2c3ff;
  box-sizing: border-box;
}

.intro-section input::placeholder {
  color: #a0a0a0; /* Placeholder text color */
}

.intro-section button {
  background-color: #081e70;
  color: #ffffff;
  padding: 1rem;
  border: none;
  border-radius: 110px;
  cursor: pointer;
  font-size: 1.25rem;
  transition: background-color 0.3s ease;
  width: 100%;
  box-sizing: border-box;
}

.intro-section button:hover {
  background-color: #516eda;
}

@media (min-width: 768px) {
  .intro-section {
      padding: 2rem;
  }

  .intro-section input,
  .intro-section button {
      font-size: 1rem;
  }
}
